.pngegg-9-3,
.pngegg-9-4 {
  position: absolute;
  top: 110rem;
  left: 55px;
  width: 140px;
  height: 268px;
  object-fit: contain;
}
.pngegg-9-4 {
  left: 1725px;
}
.pixelcut-export-9-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 601px;
  object-fit: cover;
}
.read-more {
  position: absolute;
  top: 251px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.lorem-ipsum-dolor {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.ae-magna-aliqua {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: calc(50% - 87.5px);
  left: calc(50% - 152.5px);
  font-size: var(--font-size-lg);
}
.about-us,
.group-child {
  position: absolute;
  left: 0;
}
.group-child {
  top: 315px;
  width: 230px;
  height: 22px;
  object-fit: cover;
}
.about-us {
  top: 0;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.02em;
  font-weight: 800;
}
.read-more-parent {
  left: 0;
  width: 305px;
  height: 337px;
  font-size: var(--font-size-xl);
}
.contact-us,
.div,
.read-more-parent {
  position: absolute;
  top: 0;
}
.contact-us {
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 800;
}
.div {
  left: 44px;
}
.ioncall-icon,
.parent {
  position: absolute;
  height: 24px;
}
.ioncall-icon {
  top: calc(50% - 12px);
  left: calc(50% - 151px);
  width: 24px;
  overflow: hidden;
}
.parent {
  top: 150px;
  left: 0;
  width: 302px;
}
.material-symbols-lightmail-icon {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 134.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.balajitrscgmailcom-btsbal-parent {
  position: absolute;
  top: 194px;
  left: 0;
  width: 269px;
  height: 44px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 20px;
}
.vector-icon1 {
  height: 25%;
  width: 25%;
  top: 28.33%;
  right: 37.5%;
  bottom: 46.67%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  position: absolute;
  top: 0;
  left: 79.17%;
}
.carbonlocation-filled {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 153px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
}
.shivalik-shilp-iscon-cross-ro-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 306px;
  height: 44px;
  font-family: var(--font-inter);
}
.b1 {
  position: absolute;
  top: 0;
  left: 70.83%;
}
.carbonlocation-filled1 {
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 155.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
}
.guruprasad-complext-nr-rmc-b-parent {
  position: absolute;
  top: 64px;
  left: 0;
  width: 311px;
  height: 66px;
  font-family: var(--font-inter);
}
.group-container {
  position: absolute;
  top: 81px;
  left: 0;
  width: 311px;
  height: 238px;
  font-size: var(--font-size-lg);
}
.contact-us-parent {
  position: absolute;
  top: 0;
  left: 1109px;
  width: 311px;
  height: 319px;
}
.contact {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 24px);
}
.vector-icon4 {
  position: absolute;
  height: 45.45%;
  width: 6.41%;
  top: 27.27%;
  right: 93.59%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.contact-parent {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 57.5px);
  width: 78px;
  height: 22px;
}
.shipping {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 28.5px);
}
.vector-icon5 {
  position: absolute;
  height: 45.45%;
  width: 5.75%;
  top: 27.27%;
  right: 94.25%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.shipping-parent {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 57.5px);
  width: 87px;
  height: 22px;
}
.sitemap {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 26px);
}
.vector-icon6 {
  position: absolute;
  height: 45.45%;
  width: 6.1%;
  top: 27.27%;
  right: 93.9%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.faqs,
.sitemap-parent {
  position: absolute;
  top: calc(50% - 11px);
}
.sitemap-parent {
  left: calc(50% - 57.5px);
  width: 82px;
  height: 22px;
}
.faqs {
  left: calc(50% - 12px);
}
.vector-icon7 {
  position: absolute;
  height: 45.45%;
  width: 9.26%;
  top: 27.27%;
  right: 90.74%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.faqs-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 57.5px);
  width: 54px;
  height: 22px;
}
.legal-notice {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 42.5px);
}
.vector-icon8 {
  position: absolute;
  height: 45.45%;
  width: 4.35%;
  top: 27.27%;
  right: 95.65%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-div,
.legal-notice-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 57.5px);
  width: 115px;
  height: 22px;
}
.group-div {
  top: calc(50% - 74.5px);
  left: calc(50% - 71px);
  height: 230px;
  font-size: var(--font-size-lg);
}
.quick-links-parent {
  position: absolute;
  top: 0;
  left: 374px;
  width: 142px;
  height: 311px;
}
.about-us1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 29.5px);
}
.vector-icon9 {
  position: absolute;
  height: 45.45%;
  width: 5.62%;
  top: 27.27%;
  right: 94.38%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.about-us-parent {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 96.5px);
  width: 89px;
  height: 22px;
}
.delivery-information {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 76.5px);
}
.vector-icon10 {
  position: absolute;
  height: 45.45%;
  width: 2.73%;
  top: 27.27%;
  right: 97.27%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.delivery-information-parent {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 96.5px);
  width: 183px;
  height: 22px;
}
.privacy-policy {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 48px);
}
.vector-icon11 {
  position: absolute;
  height: 45.45%;
  width: 3.97%;
  top: 27.27%;
  right: 96.03%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.privacy-policy-parent {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 96.5px);
  width: 126px;
  height: 22px;
}
.terms-and-conditions {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 81.5px);
}
.vector-icon12 {
  position: absolute;
  height: 45.45%;
  width: 2.59%;
  top: 27.27%;
  right: 97.41%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.terms-and-conditions-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 96.5px);
  width: 193px;
  height: 22px;
}
.search {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 20px);
}
.vector-icon13 {
  position: absolute;
  height: 45.45%;
  width: 7.14%;
  top: 27.27%;
  right: 92.86%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-parent1,
.search-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 96.5px);
  width: 70px;
  height: 22px;
}
.group-parent1 {
  top: calc(50% - 74.5px);
  width: 193px;
  height: 230px;
  font-size: var(--font-size-lg);
}
.our-services-parent {
  position: absolute;
  top: 0;
  left: 585px;
  width: 193px;
  height: 311px;
}
.policy-for-buyers {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 62px);
}
.vector-icon14 {
  position: absolute;
  height: 45.45%;
  width: 3.25%;
  top: 27.27%;
  right: 96.75%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.policy-for-buyers-parent,
.policy-for-sellers-parent,
.terms-and-conditions-group {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 96.5px);
  width: 154px;
  height: 22px;
}
.policy-for-sellers-parent,
.terms-and-conditions-group {
  top: calc(50% - 63px);
}
.terms-and-conditions-group {
  top: calc(50% - 11px);
  width: 193px;
}
.shipping-refund {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 69px);
}
.vector-icon17 {
  position: absolute;
  height: 45.45%;
  width: 2.98%;
  top: 27.27%;
  right: 97.02%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.shipping-refund-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 96.5px);
  width: 168px;
  height: 22px;
}
.wholesale-policy {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 61px);
}
.vector-icon18 {
  position: absolute;
  height: 45.45%;
  width: 3.29%;
  top: 27.27%;
  right: 96.71%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.wholesale-policy-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 96.5px);
  width: 152px;
  height: 22px;
}
.group-parent,
.information-parent {
  position: absolute;
  top: 0;
  left: 847px;
  width: 193px;
  height: 311px;
}
.group-parent {
  top: 60px;
  left: 250px;
  width: 1420px;
  height: 337px;
}
.frame-icon,
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 24px;
  overflow: hidden;
}
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  left: 58px;
}
.frame-icon2,
.frame-icon3 {
  left: 116px;
}
.frame-icon3 {
  left: 174px;
}
.frame-icon4 {
  left: 232px;
  width: 38px;
  overflow: hidden;
}
.frame-icon4,
.frame-icon5,
.frame-parent {
  position: absolute;
  top: 0;
  height: 24px;
}
.frame-icon5 {
  left: 290px;
  width: 38px;
  overflow: hidden;
}
.frame-parent {
  left: 1092px;
  width: 328px;
}
.balaji-trade-source,
.home-page,
.privacy-policy1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 710px);
}
.home-page,
.privacy-policy1 {
  left: calc(50% - 176.5px);
}
.privacy-policy1 {
  left: calc(50% - 37.5px);
}
.div1,
.div2,
.home-page-parent,
.search1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% + 121.5px);
}
.div1,
.div2,
.home-page-parent {
  left: calc(50% + 93.5px);
}
.div2,
.home-page-parent {
  left: calc(50% - 65.5px);
}
.home-page-parent {
  left: calc(50% - 96px);
  width: 353px;
  height: 22px;
}
.group-parent3 {
  position: absolute;
  top: 517px;
  left: 250px;
  width: 1420px;
  height: 24px;
  font-size: var(--font-size-lg);
}
.group-item {
  position: absolute;
  top: 456.5px;
  left: 249.5px;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  width: 1421px;
  height: 1px;
}
.pixelcut-export-9-3-parent {
  position: absolute;
  top: 125rem;
  /* left: 0; */
  width: 100%;
  height: 601px;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 1420px;
  height: 170px;
}
.fluentmail-read-20-filled-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.get-our-latest {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  font-weight: 500;
}
.get-timely-updates {
  position: absolute;
  top: 41px;
  left: 0;
  font-size: var(--font-size-xl);
  opacity: 0.7;
}
.get-our-latest-news-and-update-parent {
  position: absolute;
  top: 2px;
  left: 100px;
  width: 492px;
  height: 65px;
}
.fluentmail-read-20-filled-parent,
.rectangle-div {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 592px;
  height: 70px;
}
.rectangle-div {
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 670px;
  height: 60px;
}
.enter-your-mail {
  position: absolute;
  top: 19px;
  left: 20px;
  opacity: 0.7;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d34031;
  width: 80px;
  height: 60px;
}
.fluentmail-20-filled-icon {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 590px;
  width: 80px;
  height: 60px;
}
.rectangle-group {
  top: 55px;
  left: 710px;
  width: 670px;
  font-size: var(--font-size-lg);
}
.rectangle-parent {
  position: absolute;
  top: 110rem;
  left: 250px;
  /* width: 1420px; */
  /* height: 170px; */
  font-size: var(--font-size-7xl);
}
.pngegg-17-1 {
  position: absolute;
  top: 771px;
  left: -99px;
  width: 371.9px;
  height: 310.3px;
  object-fit: contain;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  width: 1920px;
  height: 651px;
  overflow: hidden;
  object-fit: cover;
}
.home,
.products {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.7;
}
.products {
  left: 98px;
}
.blended-spices {
  position: absolute;
  top: 0;
  left: 220px;
  text-align: left;
}
.div3,
.div4 {
  position: absolute;
  top: 0;
  left: 68px;
  opacity: 0.7;
}
.div4 {
  left: 190px;
}
.home-parent {
  position: absolute;
  top: 80px;
  left: 4px;
  width: 345px;
  height: 22px;
}
.our-products {
  position: absolute;
  top: 0;
  left: calc(50% - 176px);
  font-size: 48px;
  font-weight: 600;
}
.group-parent4 {
  position: absolute;
  top: 449px;
  left: 784px;
  width: 352px;
  height: 102px;
}
.frame-group {
  position: absolute;
  top: 192px;
  left: calc(50% - 960px);
  width: 100%;
  height: 651px;
  text-align: center;
}
.frame-child,
.frame-item {
  position: absolute;
  top: 121px;
  left: 20px;
  width: 282px;
  height: 0;
}
.frame-item {
  top: 180px;
}
.frame-child1,
.frame-child2,
.frame-inner,
.line-div {
  position: absolute;
  top: 239px;
  left: 20px;
  width: 282px;
  height: 0;
}
.frame-child1,
.frame-child2,
.line-div {
  top: 298px;
}
.frame-child1,
.frame-child2 {
  top: 357px;
}
.frame-child2 {
  top: 416px;
}
.frame-child3,
.frame-child4,
.frame-child5,
.frame-child6 {
  position: absolute;
  top: 475px;
  left: 20px;
  width: 282px;
  height: 0;
}
.frame-child4,
.frame-child5,
.frame-child6 {
  top: 534px;
}
.frame-child5,
.frame-child6 {
  top: 593px;
}
.frame-child6 {
  top: 652px;
}
.frame-child10,
.frame-child7,
.frame-child8,
.frame-child9 {
  position: absolute;
  top: 711px;
  left: 20px;
  width: 282px;
  height: 0;
}
.frame-child10,
.frame-child8,
.frame-child9 {
  top: 770px;
}
.frame-child10,
.frame-child9 {
  top: 829px;
}
.frame-child10 {
  top: 888px;
}
.span {
  color: var(--color-gray-100);
}
.span2 {
  font-weight: 500;
}
.beans-oil-container {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  cursor: pointer;
}
.vector-icon19 {
  position: absolute;
  width: 2.13%;
  top: calc(50% - 5.5px);
  right: 0;
  left: 97.87%;
  max-width: 100%;
  overflow: hidden;
  height: 12px;
  object-fit: contain;
  opacity: 0.5;
}
.beans-oil-seeds-05-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 282px;
  height: 19px;
}
.blended-spices-16 {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.blended-spices-16-parent {
  position: absolute;
  top: 49px;
  left: 0;
  width: 282px;
  height: 19px;
  color: var(--color-red);
}
.span3 {
  font-weight: 500;
  color: var(--color-gray-100);
}
.dehydrated-vegetables-07-parent {
  position: absolute;
  top: 98px;
  left: 0;
  width: 282px;
  height: 19px;
  cursor: pointer;
}
.dry-fruits-02-container {
  position: absolute;
  top: 0;
  left: 0;
  text-transform: uppercase;
}
.dry-fruits-02-parent {
  position: absolute;
  top: 147px;
  left: 0;
  width: 282px;
  height: 19px;
}
.edible-oils-03-parent,
.flours-03-parent,
.fryums-wafers-05-parent {
  position: absolute;
  top: 196px;
  left: 0;
  width: 282px;
  height: 19px;
}
.flours-03-parent,
.fryums-wafers-05-parent {
  top: 245px;
}
.fryums-wafers-05-parent {
  top: 294px;
}
.ground-powder-spices-09-parent,
.indian-groceries-07-parent,
.khakhara-04-parent {
  position: absolute;
  top: 343px;
  left: 0;
  width: 282px;
  height: 19px;
}
.indian-groceries-07-parent,
.khakhara-04-parent {
  top: 392px;
}
.khakhara-04-parent {
  top: 441px;
}
.indian-branded-food-00-parent,
.ready-to-eat-products-00-parent {
  position: absolute;
  top: 490px;
  left: 0;
  width: 282px;
  height: 19px;
}
.ready-to-eat-products-00-parent {
  top: 539px;
}
.group-parent6,
.uncategorized-00-parent,
.whole-spices-10-parent {
  position: absolute;
  top: 588px;
  left: 0;
  width: 282px;
  height: 19px;
}
.group-parent6,
.whole-spices-10-parent {
  top: 637px;
}
.group-parent6 {
  top: 66px;
  /* height: 656px; */
}
.group-parent6 .beansOil {
  cursor: pointer;
}
.group-parent6 .beansOil:active {
  color: red;
}
.product-categories {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--color-gray-100);
}
.group-child3 {
  position: absolute;
  top: 45.5px;
  left: -0.5px;
  border-top: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 283px;
  height: 1px;
}
.group-parent5,
.line-parent {
  position: absolute;
  top: 50px;
  left: 20px;
  width: 282px;
  height: 722px;
}
.line-parent {
  top: 943px;
  left: 250px;
  background-color: var(--color-whitesmoke-100);
  width: 332px;
  /* height: 830px; */
  overflow: hidden;
  /* font-size: var(--font-size-base); */
  color: var(--color-gray-200);
}
.biryani-masala,
.div5 {
  left: 0;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
.biryani-masala {
  position: absolute;
  top: 30px;
  opacity: 0.7;
}
.div5 {
  top: 0;
  font-weight: 600;
}
.div5,
.div6,
.group {
  position: absolute;
}
.div6 {
  top: 0;
  left: 98px;
  text-decoration: line-through;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  font-weight: 500;
  opacity: 0.7;
}
.group {
  top: 72px;
  left: 0;
  width: 172px;
  height: 22px;
  font-family: var(--font-inter);
}
.biryani-masala-parent,
.group-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 20px;
}
.biryani-masala-parent {
  top: 352px;
  width: 172px;
  height: 94px;
}
.group-child4 {
  position: absolute;
  top: 0;
  left: calc(50% - 166px);
  background-color: var(--color-whitesmoke-100);
  width: 332px;
  height: 332px;
}
.icon {
  position: absolute;
  top: calc(50% - 116px);
  left: calc(50% - 76px);
  width: 152px;
  height: 232px;
  object-fit: cover;
}
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: calc(50% - 166px);
  width: 332px;
  height: 332px;
}
.group-parent10,
.group-parent11,
.group-parent8,
.group-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 332px;
  height: 446px;
  cursor: pointer;
}
.group-parent10,
.group-parent11,
.group-parent9 {
  left: 362px;
}
.group-parent10,
.group-parent11 {
  left: 724px;
}
.group-parent11 {
  top: 476px;
  left: 0;
}
.group-parent12,
.group-parent13,
.group-parent14,
.group-parent15,
.group-parent16 {
  position: absolute;
  top: 476px;
  left: 362px;
  width: 332px;
  height: 446px;
  cursor: pointer;
}
.group-parent13,
.group-parent14,
.group-parent15,
.group-parent16 {
  left: 724px;
}
.group-parent14,
.group-parent15,
.group-parent16 {
  top: 952px;
  left: 0;
}
.group-parent15,
.group-parent16 {
  left: 362px;
}
.group-parent16 {
  left: 724px;
}
.pulav-biryani-masala-parent {
  position: absolute;
  top: 352px;
  left: 0;
  width: 196px;
  height: 94px;
}
.group-parent17,
.group-parent18 {
  position: absolute;
  top: 1428px;
  left: 0;
  width: 332px;
  height: 446px;
  cursor: pointer;
}
.group-parent18 {
  left: 362px;
}
.group-parent19,
.shahi-paneer-masala-parent {
  position: absolute;
  top: 352px;
  left: 0;
  width: 192px;
  height: 94px;
}
.group-parent19 {
  top: 1428px;
  left: 724px;
  width: 332px;
  height: 446px;
  cursor: pointer;
}
.group-parent7 {
  position: absolute;
  top: 1043px;
  left: 614px;
  /* border: 1px solid red; */
  /* overflow: auto; */
  /* display: grid; */
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 1056px;
}
.group-parent7 .item {
  box-sizing: border-box; /* Include padding and border in the dimensions */
  max-width: 100%; /* Ensure item does not exceed parent's width */
}
.item > h3 {
  color: #222222;
  opacity: 0.5;
  font-weight: 100 !important;
}
.item > p {
  color: #222222;
  font-weight: bold;
}
.imageDiv {
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
  padding: 50px;
}
.imageDiv img {
  max-width: 70%; /* Ensure image does not exceed its container's width */
  height: auto; /* Maintain aspect ratio */
}
.showing-1-12-of {
  position: absolute;
  top: 24px;
  left: 107px;
  letter-spacing: 0.02em;
}
.frame-child11 {
  position: absolute;
  top: 20px;
  left: 796px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray-300);
  box-sizing: border-box;
  width: 210px;
  height: 30px;
}
.default-sorting {
  position: absolute;
  top: 28px;
  left: 806px;
  font-size: 12px;
  letter-spacing: 0.02em;
}
.polygon-icon {
  position: absolute;
  top: 40px;
  left: 986px;
  width: 10px;
  height: 10px;
}
.system-uiconsgrid {
  width: 20%;
}
.showing-1-12-of-16-result-parent {
  position: absolute;
  top: 943px;
  left: 614px;
  background-color: var(--color-whitesmoke-100);
  width: 1056px;
  /* height: 70px; */
  overflow: hidden;
  color: var(--color-gray-400);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.inner-showing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 23%;
}
.select_category {
  padding: 10px;
}
.select_category_innner {
  padding-bottom: 10px;
}
.div29,
.div30 {
  position: absolute;
  top: 13px;
  left: 100px;
  font-weight: 500;
}
.div30 {
  left: 160px;
  color: #292f3b;
  cursor: pointer;
}
.group-child27 {
  top: 0;
  left: 221px;
  width: 50px;
  cursor: pointer;
}
.group-child27,
.group-child28,
.parent11 {
  position: absolute;
  height: 50px;
}
.group-child28 {
  top: 0;
  left: 0;
  width: 50px;
  object-fit: contain;
  opacity: 0.5;
}
.parent11 {
  top: 3017px;
  left: 1007px;
  width: 271px;
  font-size: var(--font-size-xl);
  color: var(--color-red);
}
.pngegg-18-1 {
  position: absolute;
  top: 843px;
  left: 1729px;
  width: 174px;
  height: 262px;
  object-fit: contain;
}
.pixelcut-export-4-1,
.pngegg-10-1 {
  position: absolute;
  top: 1825px;
  object-fit: cover;
}
.pixelcut-export-4-1 {
  left: calc(50% - 960px);
  width: 338px;
  height: 1123px;
}
.pngegg-10-1 {
  left: 284px;
  width: 290px;
  height: 142px;
}

.group-child29 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 216px;
  height: 64px;
}

.rectangle-parent13 {
  position: absolute;
  top: 33px;
  left: 1454px;
  width: 216px;
  height: 64px;
  cursor: pointer;
  color: var(--color-white);
}

.group-child30,
.stay-connected {
  position: absolute;
  top: 2px;
  left: 0;
}
.group-child30 {
  top: 0;
  left: 136px;
  width: 230px;
  height: 22px;
  object-fit: cover;
}
.call-up-1-icon,
.stay-connected-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 366px;
  height: 22px;
}
.call-up-1-icon {
  width: 22px;
  object-fit: cover;
}
.div31 {
  position: absolute;
  top: 2px;
  left: 42px;
}
.call-up-1-parent {
  position: absolute;
  top: 0;
  left: 688px;
  width: 313px;
  height: 22px;
}
.balajitrscgmailcom-btsbal-group,
.group-parent20 {
  position: absolute;
  top: 0;
  left: 1009px;
  width: 411px;
  height: 22px;
}
.group-parent20 {
  top: 20px;
  left: 60px;
  width: 1420px;
}
.group-wrapper {
  position: absolute;
  top: 0;
  background-color: #f7f7f7;
  width: 100%;
  height: 62px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.social-whatsapp-circle-512-1-icon {
  position: fixed;
  top: 790px;
  left: 1790px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  z-index: 1000;
}
.pngegg-9-3-parent {
  width: 100%;
}

/* End */

/* Navbar */

.frame-div {
  /* border: 1px solid red; */
  position: absolute;
  display: flex;
  top: 4rem;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  background: white;
  height: 130px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.home-group {
  width: 605px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.home-group a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.group-1321315030-2 {
  width: fit-content;
}
.group-1321315030-2 img {
  width: 60%;
  object-fit: cover;
}

.about-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px; /* Adjust gap as needed */
}

.dropdown {
  display: none;
  position: relative;
}

.dropbtn {
  cursor: pointer;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align to the right side */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Trade Inquiry Button */
.rectangle-parent28 {
  text-decoration: none;
  /* background-color: #d34031; */
  /* padding: 1rem; */
}

.trade-inquiry {
  color: white;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  width: 180px;
  cursor: pointer;
  text-decoration: none;
  background: var(--color-red);
  padding: 20px;
}

.flickity-viewport {
  height: 30rem !important;
}

.carousel-cell {
  width: 33.33%; /* 3 columns */
  padding: 10px;
  box-sizing: border-box;
}

.item {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.imageDiv {
  margin-bottom: 10px;
}

.group-parent12 {
  position: absolute;
  left: 11rem;
  top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: white;
  margin: auto;
  z-index: 1;
  width: 80%;
  /* border: 1px solid red; */
  gap: 3rem;
  padding-bottom: 3rem;
}
.aboutus,
.quickLinks {
  /* line-height: 5rem; */
}
.about-title,
.quick-title,
.our-title,
.info-title,
.contact-title {
  font-size: 26px;
  margin-bottom: 50px;
}
.allLinks {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 18px;
}
.address1,
.address2,
.call,
.mail {
  margin-bottom: 20px;
}
.allLinks a {
  text-decoration: none;
  color: white;
}
.about-content {
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 40px;
}
.social-link {
  width: 100%;
  margin-top: 40px;
}
.address1,
.address2,
.call,
.mail {
  font-size: 18px;
}
.copyright {
  position: absolute;
  top: 34rem;
  left: 11rem;
  /* border: 1px solid red; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 18px;
  align-items: center;
  border-top: 1px solid gray;
}

@media screen and (max-width: 1600px) {
  .line-parent {
    display: none;
  }
  .showing-1-12-of-16-result-parent {
    left: 13rem;
  }
  .group-parent7 {
    left: 13rem;
  }
  .dropbtn {
    display: none;
  }
  .pngegg-18-1 {
    left: 81rem;
  }
  .pixelcut-export-4-1 {
    display: none;
  }
  .pngegg-9-3,
  .pngegg-9-4 {
    display: none;
  }
  .group-parent17 {
    left: 60px;
  }
  .img-09-16f41331-b9c0-49f6-aa2d-parent {
    left: 95px;
  }
  .component-130 {
    left: 2rem;
    width: 88rem;
    top: 216rem;
  }
  .we-have-close {
    top: 210rem;
    left: 14rem;
  }
  .expertise-parent {
    top: 235rem;
  }
  .transparent-spices-spices-herb-parent {
    left: 5rem;
    top: 240rem;
  }
  .group-parent {
    top: 275rem;
  }
  .rectangle-parent {
    left: 2rem;
    top: 100rem;
  }
  .call-up-1-parent {
    left: 630px;
  }
  .balajitrscgmailcom-btsbal-group {
    left: 60rem;
  }
  .pixelcut-export-9-3-parent {
    top: 140rem;
  }
  .group-parent12 {
    left: 160px;
    top: -25rem;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid gray;
  }
  .pixelcut-export-9-3 {
    width: 91.7rem;
    height: 65rem;
  }
  .copyright {
    top: 33rem;
    border-top: 1px solid gray;
  }
  .social-whatsapp-circle-512-1-icon {
    top: 45rem;
    left: 85rem;
  }
  .customer-focus-parent {
    top: 3200px;
  }
}
