.pngegg-9-3,
.pngegg-9-4 {
  position: absolute;
  top: 2502px;
  left: 55px;
  width: 140px;
  height: 268px;
  object-fit: contain;
}
.pngegg-9-4 {
  left: 1725px;
}
.pixelcut-export-9-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 601px;
  object-fit: cover;
}
.read-more {
  position: absolute;
  top: 251px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.lorem-ipsum-dolor {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.ae-magna-aliqua {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: calc(50% - 87.5px);
  left: calc(50% - 152.5px);
  font-size: var(--font-size-lg);
}
.about-us,
.group-child {
  position: absolute;
  left: 0;
}
.group-child {
  top: 315px;
  width: 230px;
  height: 22px;
  object-fit: cover;
}
.about-us {
  top: 0;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.02em;
  font-weight: 800;
}
.read-more-parent {
  left: 0;
  width: 305px;
  height: 337px;
  font-size: var(--font-size-xl);
}
.contact-us,
.div,
.read-more-parent {
  position: absolute;
  top: 0;
}
.contact-us {
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 800;
}
.div {
  left: 44px;
}
.ioncall-icon,
.parent {
  position: absolute;
  height: 24px;
}
.ioncall-icon {
  top: calc(50% - 12px);
  left: calc(50% - 151px);
  width: 24px;
  overflow: hidden;
}
.parent {
  top: 150px;
  left: 0;
  width: 302px;
}
.material-symbols-lightmail-icon {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 134.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.balajitrscgmailcom-btsbal-parent {
  position: absolute;
  top: 194px;
  left: 0;
  width: 269px;
  height: 44px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 20px;
}
.vector-icon1 {
  height: 25%;
  width: 25%;
  top: 28.33%;
  right: 37.5%;
  bottom: 46.67%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  position: absolute;
  top: 0;
  left: 79.17%;
}
.carbonlocation-filled {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 153px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
}
.shivalik-shilp-iscon-cross-ro-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 306px;
  height: 44px;
  font-family: var(--font-inter);
}
.b1 {
  position: absolute;
  top: 0;
  left: 70.83%;
}
.carbonlocation-filled1 {
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 155.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
}
.guruprasad-complext-nr-rmc-b-parent {
  position: absolute;
  top: 64px;
  left: 0;
  width: 311px;
  height: 66px;
  font-family: var(--font-inter);
}
.group-container {
  position: absolute;
  top: 81px;
  left: 0;
  width: 311px;
  height: 238px;
  font-size: var(--font-size-lg);
}
.contact-us-parent {
  position: absolute;
  top: 0;
  left: 1109px;
  width: 311px;
  height: 319px;
}
.contact {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 24px);
}
.vector-icon4 {
  position: absolute;
  height: 45.45%;
  width: 6.41%;
  top: 27.27%;
  right: 93.59%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.contact-parent {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 57.5px);
  width: 78px;
  height: 22px;
}
.shipping {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 28.5px);
}
.vector-icon5 {
  position: absolute;
  height: 45.45%;
  width: 5.75%;
  top: 27.27%;
  right: 94.25%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.shipping-parent {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 57.5px);
  width: 87px;
  height: 22px;
}
.sitemap {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 26px);
}
.vector-icon6 {
  position: absolute;
  height: 45.45%;
  width: 6.1%;
  top: 27.27%;
  right: 93.9%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.faqs,
.sitemap-parent {
  position: absolute;
  top: calc(50% - 11px);
}
.sitemap-parent {
  left: calc(50% - 57.5px);
  width: 82px;
  height: 22px;
}
.faqs {
  left: calc(50% - 12px);
}
.vector-icon7 {
  position: absolute;
  height: 45.45%;
  width: 9.26%;
  top: 27.27%;
  right: 90.74%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.faqs-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 57.5px);
  width: 54px;
  height: 22px;
}
.legal-notice {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 42.5px);
}
.vector-icon8 {
  position: absolute;
  height: 45.45%;
  width: 4.35%;
  top: 27.27%;
  right: 95.65%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-div,
.legal-notice-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 57.5px);
  width: 115px;
  height: 22px;
}
.group-div {
  top: calc(50% - 74.5px);
  left: calc(50% - 71px);
  height: 230px;
  font-size: var(--font-size-lg);
}
.quick-links-parent {
  position: absolute;
  top: 0;
  left: 374px;
  width: 142px;
  height: 311px;
}
.about-us1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 29.5px);
}
.vector-icon9 {
  position: absolute;
  height: 45.45%;
  width: 5.62%;
  top: 27.27%;
  right: 94.38%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.about-us-parent {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 96.5px);
  width: 89px;
  height: 22px;
}
.delivery-information {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 76.5px);
}
.vector-icon10 {
  position: absolute;
  height: 45.45%;
  width: 2.73%;
  top: 27.27%;
  right: 97.27%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.delivery-information-parent {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 96.5px);
  width: 183px;
  height: 22px;
}
.privacy-policy {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 48px);
}
.vector-icon11 {
  position: absolute;
  height: 45.45%;
  width: 3.97%;
  top: 27.27%;
  right: 96.03%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.privacy-policy-parent {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 96.5px);
  width: 126px;
  height: 22px;
}
.terms-and-conditions {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 81.5px);
}
.vector-icon12 {
  position: absolute;
  height: 45.45%;
  width: 2.59%;
  top: 27.27%;
  right: 97.41%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.terms-and-conditions-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 96.5px);
  width: 193px;
  height: 22px;
}
.search {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 20px);
}
.vector-icon13 {
  position: absolute;
  height: 45.45%;
  width: 7.14%;
  top: 27.27%;
  right: 92.86%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-parent1,
.search-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 96.5px);
  width: 70px;
  height: 22px;
}
.group-parent1 {
  top: calc(50% - 74.5px);
  width: 193px;
  height: 230px;
  font-size: var(--font-size-lg);
}
.our-services-parent {
  position: absolute;
  top: 0;
  left: 585px;
  width: 193px;
  height: 311px;
}
.policy-for-buyers {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 62px);
}
.vector-icon14 {
  position: absolute;
  height: 45.45%;
  width: 3.25%;
  top: 27.27%;
  right: 96.75%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.policy-for-buyers-parent,
.policy-for-sellers-parent,
.terms-and-conditions-group {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 96.5px);
  width: 154px;
  height: 22px;
}
.policy-for-sellers-parent,
.terms-and-conditions-group {
  top: calc(50% - 63px);
}
.terms-and-conditions-group {
  top: calc(50% - 11px);
  width: 193px;
}
.shipping-refund {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 69px);
}
.vector-icon17 {
  position: absolute;
  height: 45.45%;
  width: 2.98%;
  top: 27.27%;
  right: 97.02%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.shipping-refund-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 96.5px);
  width: 168px;
  height: 22px;
}
.wholesale-policy {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 61px);
}
.vector-icon18 {
  position: absolute;
  height: 45.45%;
  width: 3.29%;
  top: 27.27%;
  right: 96.71%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.wholesale-policy-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 96.5px);
  width: 152px;
  height: 22px;
}
.group-parent,
.information-parent {
  position: absolute;
  top: 0;
  left: 847px;
  width: 193px;
  height: 311px;
}
.group-parent {
  top: 60px;
  left: 250px;
  width: 1420px;
  height: 337px;
}
.frame-icon,
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 24px;
  overflow: hidden;
}
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  left: 58px;
}
.frame-icon2,
.frame-icon3 {
  left: 116px;
}
.frame-icon3 {
  left: 174px;
}
.frame-icon4 {
  left: 232px;
  width: 38px;
  overflow: hidden;
}
.frame-icon4,
.frame-icon5,
.frame-parent {
  position: absolute;
  top: 0;
  height: 24px;
}
.frame-icon5 {
  left: 290px;
  width: 38px;
  overflow: hidden;
}
.frame-parent {
  left: 1092px;
  width: 328px;
}
.balaji-trade-source,
.home-page,
.privacy-policy1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 710px);
}
.home-page,
.privacy-policy1 {
  left: calc(50% - 176.5px);
}
.privacy-policy1 {
  left: calc(50% - 37.5px);
}
.div1,
.div2,
.home-page-parent,
.search1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% + 121.5px);
}
.div1,
.div2,
.home-page-parent {
  left: calc(50% + 93.5px);
}
.div2,
.home-page-parent {
  left: calc(50% - 65.5px);
}
.home-page-parent {
  left: calc(50% - 96px);
  width: 353px;
  height: 22px;
}
.group-parent3 {
  position: absolute;
  top: 517px;
  left: 250px;
  width: 1420px;
  height: 24px;
  font-size: var(--font-size-lg);
}
.group-item {
  position: absolute;
  top: 456.5px;
  left: 249.5px;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  width: 1421px;
  height: 1px;
}
.pixelcut-export-9-3-parent {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1920px;
  height: 601px;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 2px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 1420px;
  height: 170px;
}
.fluentmail-read-20-filled-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.get-our-latest {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  font-weight: 500;
}
.get-timely-updates {
  position: absolute;
  top: 41px;
  left: 0;
  font-size: var(--font-size-xl);
  opacity: 0.7;
}
.get-our-latest-news-and-update-parent {
  position: absolute;
  top: 2px;
  left: 100px;
  width: 492px;
  height: 65px;
}
.fluentmail-read-20-filled-parent,
.rectangle-div {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 592px;
  height: 70px;
}
.rectangle-div {
  top: 0;
  left: 0;
  border-radius: var(--br-9xs);
  background-color: var(--color-whitesmoke-100);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 670px;
  height: 60px;
}
.enter-your-mail {
  position: absolute;
  top: 19px;
  left: 20px;
  opacity: 0.7;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d34031;
  width: 80px;
  height: 60px;
}
.fluentmail-20-filled-icon {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 590px;
  width: 80px;
  height: 60px;
}
.rectangle-group {
  top: 55px;
  left: 710px;
  width: 670px;
  font-size: var(--font-size-lg);
}
.rectangle-parent {
  position: absolute;
  top: 2498px;
  left: 250px;
  width: 1420px;
  height: 170px;
  font-size: var(--font-size-7xl);
}
.pngegg-17-1 {
  position: absolute;
  top: 771px;
  left: -99px;
  width: 371.9px;
  height: 310.3px;
  object-fit: contain;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  width: 1920px;
  height: 651px;
  overflow: hidden;
  object-fit: cover;
}
.home {
  left: 0;
  opacity: 0.7;
}
.div3,
.home,
.trade-inquiry {
  position: absolute;
  top: 0;
}
.div3 {
  left: 68px;
  opacity: 0.7;
}
.trade-inquiry {
  left: 98px;
  text-align: left;
}
.home-parent {
  position: absolute;
  top: 80px;
  left: 70px;
  width: 207px;
  height: 22px;
}
.trade-inquiry1 {
  position: absolute;
  top: 0;
  left: calc(50% - 173.5px);
  font-size: 50px;
  text-transform: uppercase;
  font-weight: 600;
}
.group-parent4 {
  position: absolute;
  top: 449px;
  left: 787px;
  width: 347px;
  height: 102px;
}
.frame-group {
  position: absolute;
  top: 192px;
  left: calc(50% - 960px);
  width: 1920px;
  height: 651px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.minimum-to-maximum {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 0.03em;
  font-weight: 500;
}
.to-satisfy-our {
  position: absolute;
  top: 31px;
  left: 0;
  font-size: var(--font-size-lg);
  opacity: 0.5;
}
.minimum-to-maximum-order-parent,
.order-icon {
  position: absolute;
  top: 0;
  left: 60px;
  width: 279px;
  height: 52px;
}
.order-icon {
  height: 76.92%;
  width: 11.8%;
  top: 11.54%;
  right: 88.2%;
  bottom: 11.54%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent6,
.private-labelling-parent {
  position: absolute;
  top: 0;
  left: 680px;
  width: 339px;
  height: 52px;
}
.private-labelling-parent {
  left: 60px;
  width: 221px;
}
.simplification-icon {
  position: absolute;
  height: 76.92%;
  width: 14.23%;
  top: 11.54%;
  right: 85.77%;
  bottom: 11.54%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.group-parent7 {
  position: absolute;
  top: 0;
  left: 343px;
  width: 281px;
  height: 52px;
}
.group-child3,
.group-child4,
.line-div {
  position: absolute;
  top: -0.5px;
  left: 314.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 53px;
  opacity: 0.2;
}
.group-child3,
.group-child4 {
  left: 651.5px;
}
.group-child4 {
  left: 1046.5px;
}
.customer-support-parent,
.group-parent8 {
  position: absolute;
  top: 0;
  left: 60px;
  width: 227px;
  height: 52px;
}
.group-parent8 {
  left: 0;
  width: 287px;
}
.end-to-end-service-parent,
.layer-1-icon {
  position: absolute;
  top: 0;
  left: 60px;
  width: 282px;
  height: 52px;
}
.layer-1-icon {
  top: 6px;
  left: 0;
  width: 40px;
  height: 40px;
  overflow: hidden;
}
.group-parent5,
.group-parent9 {
  position: absolute;
  top: 0;
  left: 1075px;
  width: 342px;
  height: 52px;
}
.group-parent5 {
  top: 2296px;
  left: 250px;
  width: 1417px;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.image-390-icon {
  position: absolute;
  top: calc(50% - 291px);
  left: calc(50% - 709px);
  width: 1419px;
  height: 673px;
  object-fit: cover;
}
.frame-child {
  position: absolute;
  top: 360px;
  left: 1330px;
  border-radius: var(--br-9xs);
  width: 50px;
  height: 100px;
  overflow: hidden;
}
.view-larger-map {
  position: absolute;
  top: calc(50% - 7px);
  left: calc(50% - 46px);
  font-weight: 500;
}
.view-larger-map-wrapper {
  position: absolute;
  top: 430px;
  left: 31px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-9xs);
  background-color: var(--color-white);
  width: 132px;
  height: 40px;
  overflow: hidden;
}
.fa6-solidlocation-pin-icon {
  position: absolute;
  top: 218px;
  left: 645px;
  width: 66px;
  height: 88px;
  overflow: hidden;
  object-fit: contain;
}
.image-390-parent {
  position: absolute;
  top: 952px;
  left: 250px;
  background-color: var(--color-white);
  width: 1420px;
  height: 500px;
  overflow: hidden;
  font-size: 12px;
  color: #454545;
  font-family: var(--font-roboto);
}
.contact-us1,
.follow-us {
  position: absolute;
  top: 1552px;
  left: calc(50% + 237px);
  font-size: var(--font-size-7xl);
  letter-spacing: 1px;
  font-weight: 500;
}
.contact-us1 {
  top: 2001px;
}
.follow-us-on {
  position: absolute;
  top: 3px;
  left: calc(50% - 98px);
}
.rifacebook-fill-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.follow-us-on-facebook-parent {
  position: absolute;
  top: 1633px;
  left: calc(50% + 237px);
  width: 320px;
  height: 32px;
}
.join-us-on {
  position: absolute;
  top: 3px;
  left: calc(50% - 70px);
}
.join-us-on-twitter-parent {
  position: absolute;
  top: 1725px;
  left: calc(50% + 237px);
  width: 264px;
  height: 32px;
}
.follow-us-on1 {
  position: absolute;
  top: 3px;
  left: calc(50% - 102.5px);
}
.follow-us-on-instagram-parent {
  position: absolute;
  top: 1817px;
  left: calc(50% + 237px);
  width: 329px;
  height: 32px;
}
.subscribe-us-on {
  position: absolute;
  top: 3px;
  left: calc(50% - 107px);
}
.subscribe-us-on-youtube-parent {
  position: absolute;
  top: 1909px;
  left: calc(50% + 237px);
  width: 338px;
  height: 32px;
}
.frame-child1,
.frame-child2,
.frame-inner,
.frame-item {
  position: absolute;
  top: 1694.5px;
  left: 1258.5px;
  border-top: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 412px;
  height: 1px;
}
.frame-child1,
.frame-child2,
.frame-inner {
  top: 1786.5px;
}
.frame-child1,
.frame-child2 {
  top: 1878.5px;
}
.frame-child2 {
  top: 1970.5px;
}
.get-in-touch {
  position: absolute;
  top: 0;
  left: calc(50% - 200px);
  font-size: var(--font-size-7xl);
  letter-spacing: 1px;
  font-weight: 500;
}
.group-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
  width: 400px;
  height: 60px;
  padding-left: 20px;
}
.group-child6::placeholder {
  font-size: large;
}
.full-name {
  position: absolute;
  top: 18px;
  left: calc(50% - 180px);
  opacity: 0.5;
}
.rectangle-parent1 {
  position: absolute;
  top: 81px;
  left: 0;
  width: 400px;
  height: 60px;
}
.group-child7,
.rectangle-parent2 {
  position: absolute;
  left: 0;
  width: 400px;
  height: 149px;
}
.group-child7 {
  top: 0;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid var(--color-gray-200);
  box-sizing: border-box;
}
.rectangle-parent2 {
  top: 351px;
}
.group-child10,
.rectangle-parent3,
.rectangle-parent4 {
  position: absolute;
  top: 171px;
  left: 0;
  width: 400px;
  height: 60px;
}
.group-child10,
.rectangle-parent4 {
  top: 261px;
}
.group-child10 {
  top: 0;
  background-color: var(--color-red);
  width: 201px;
  height: 64px;
}
.submit-form {
  position: absolute;
  top: 20px;
  left: 36px;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.rectangle-parent5 {
  position: absolute;
  top: 530px;
  left: 0;
  width: 201px;
  height: 64px;
  color: var(--color-white);
}
.get-in-touch-with-us-parent {
  position: absolute;
  top: 1552px;
  left: calc(50% - 237px);
  width: 400px;
  height: 594px;
  font-size: var(--font-size-xl);
}
.pngegg-18-1 {
  position: absolute;
  top: 843px;
  left: 1746px;
  width: 174px;
  height: 262px;
  object-fit: contain;
}
.pixelcut-export-4-1 {
  position: absolute;
  top: 1322px;
  left: calc(50% - 960px);
  width: 216px;
  height: 717px;
  object-fit: cover;
}
.download-1-removebg-preview-1-icon {
  position: absolute;
  top: 1782px;
  right: 0;
  width: 314px;
  height: 286px;
  object-fit: cover;
}
.contacts,
.corporate-office {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.contacts {
  left: calc(50% - 203.5px);
  font-size: var(--font-size-7xl);
  letter-spacing: 1px;
}
.corporate-office {
  left: calc(50% - 165px);
}
.shivalik-shilp-iscon-container1 {
  position: absolute;
  top: 36px;
  left: calc(50% - 165px);
  font-size: var(--font-size-xl);
  opacity: 0.7;
}
.corporate-office-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 134px);
  width: 330px;
  height: 84px;
}
.hugeiconsoffice {
  position: absolute;
  top: 26px;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.group-parent10 {
  position: absolute;
  top: 81px;
  left: calc(50% - 203.5px);
  width: 392px;
  height: 84px;
}
.div4,
.phone {
  position: absolute;
  left: calc(50% - 67px);
}
.phone {
  top: 0;
  font-weight: 500;
}
.div4 {
  top: 36px;
  font-size: var(--font-size-xl);
  opacity: 0.7;
}
.phone-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 36px);
  width: 134px;
  height: 60px;
}
.fluentcall-20-regular-icon {
  position: absolute;
  top: 14px;
  left: 0;
  width: 32px;
  height: 32px;
  overflow: hidden;
}
.group-parent11 {
  position: absolute;
  top: 329px;
  left: calc(50% - 203.5px);
  width: 196px;
  height: 60px;
}
.days-a-week,
.hours {
  position: absolute;
  left: calc(50% - 166.5px);
}
.hours {
  top: 0;
  font-weight: 500;
}
.days-a-week {
  top: 36px;
  font-size: var(--font-size-xl);
  opacity: 0.7;
}
.group-parent12,
.hours-parent {
  position: absolute;
  top: 0;
  left: calc(50% - 135.5px);
  width: 333px;
  height: 60px;
}
.group-parent12 {
  top: 429px;
  left: calc(50% - 203.5px);
  width: 395px;
}
.email,
.spicesgmailcom {
  position: absolute;
  left: calc(50% - 85.5px);
}
.email {
  top: 0;
  font-weight: 500;
}
.spicesgmailcom {
  top: 36px;
  font-size: var(--font-size-xl);
  opacity: 0.7;
}
.email-parent,
.group-parent13 {
  position: absolute;
  top: 0;
  left: calc(50% - 54.5px);
  width: 171px;
  height: 60px;
}
.group-parent13 {
  top: 529px;
  left: calc(50% - 203.5px);
  width: 233px;
}
.building-gondal-road {
  margin: 0;
  white-space: pre-wrap;
}
.guruprasad-complext-nr-container1 {
  position: absolute;
  top: 36px;
  left: calc(50% - 172.5px);
  opacity: 0.7;
}
.manufacturing {
  position: absolute;
  top: 0;
  left: calc(50% - 172.5px);
  font-size: var(--font-size-3xl);
  font-weight: 500;
}
.guruprasad-complext-nr-rmc-b-group {
  position: absolute;
  top: 0;
  left: calc(50% - 141.5px);
  width: 345px;
  height: 84px;
}
.hugeiconsnew-office-parent {
  position: absolute;
  top: 205px;
  left: 0;
  width: 407px;
  height: 84px;
  font-size: var(--font-size-xl);
}
.contacts-parent {
  position: absolute;
  top: 1552px;
  left: calc(50% - 710px);
  width: 407px;
  height: 589px;
}
.frame-child3 {
  position: absolute;
  top: calc(50% - 32px);
  left: 0;
  background-color: #48c859;
  width: 64px;
  height: 64px;
}
.logoswhatsapp-icon {
  position: absolute;
  top: calc(50% - 15px);
  left: calc(50% - 83.5px);
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.whatsapp {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 22.5px);
  text-decoration: none;
  color: #fff;
}
.frame-child4,
.frame-div {
  position: absolute;
  height: 64px;
}
.frame-div {
  top: 2082px;
  left: 1197px;
  background-color: #65df74;
  width: 201px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.frame-child4 {
  top: calc(50% - 32px);
  left: 0;
  background-color: #50cbff;
  width: 64px;
}
.logosskype-icon,
.skype {
  position: absolute;
  top: calc(50% - 14px);
  left: calc(50% - 0.5px);
}
.logosskype-icon {
  top: calc(50% - 15px);
  left: calc(50% - 83.5px);
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: contain;
}
.rectangle-parent6 {
  position: absolute;
  top: 2082px;
  left: 1448px;
  background-color: #06b0ff;
  width: 201px;
  height: 64px;
  overflow: hidden;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.home1 {
  left: 0;
  cursor: pointer;
}
.about-us2,
.blog,
.brands,
.home1,
.products {
  position: absolute;
  top: 0;
  font-weight: 500;
}
.about-us2 {
  left: 114px;
  cursor: pointer;
}
.blog,
.brands,
.products {
  left: 265px;
}
.blog,
.products {
  left: 399px;
  cursor: pointer;
}
.blog {
  left: 556px;
}
.home-group {
  position: absolute;
  top: 53px;
  left: 749px;
  width: 605px;
  height: 24px;
}
.home-group a {
  text-decoration: none;
  color: #000;
}
.group-1321315030-2 {
  position: absolute;
  top: 30px;
  left: 250px;
  width: 268px;
  height: 70px;
  object-fit: cover;
  cursor: pointer;
}
.group-child11,
.rectangle-parent7 {
  position: absolute;
  width: 216px;
  height: 64px;
}
.group-child11 {
  top: 0;
  left: 0;
  background-color: var(--color-red);
}
.rectangle-parent7 {
  top: 33px;
  left: 1454px;
  color: var(--color-white);
}
.group-parent14 {
  position: absolute;
  top: 62px;
  left: calc(50% - 960px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  background-color: var(--color-white);
  width: 1920px;
  height: 130px;
  overflow: hidden;
  font-size: var(--font-size-xl);
}
.group-icon,
.stay-connected {
  position: absolute;
  top: 2px;
  left: 0;
}
.group-icon {
  top: 0;
  left: 136px;
  width: 230px;
  height: 22px;
  object-fit: cover;
}
.call-up-1-icon,
.stay-connected-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 366px;
  height: 22px;
}
.call-up-1-icon {
  width: 22px;
  object-fit: cover;
}
.div5 {
  position: absolute;
  top: 2px;
  left: 42px;
}
.call-up-1-parent {
  position: absolute;
  top: 0;
  left: 688px;
  width: 271px;
  height: 22px;
}
.balajitrscgmailcom-btsbal-group,
.group-parent15 {
  position: absolute;
  top: 0;
  left: 1009px;
  width: 411px;
  height: 22px;
}
.group-parent15 {
  top: 20px;
  left: 250px;
  width: 1420px;
}
.group-wrapper {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  background-color: #f7f7f7;
  width: 1920px;
  height: 62px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.social-whatsapp-circle-512-1-icon {
  position: fixed;
  top: 790px;
  left: 1790px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  z-index: 1000;
}
.pngegg-9-3-parent {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 3319px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-gray-100);
  font-family: var(--font-fira-sans);
}
