.pixelcut-export-4-1 {
  position: absolute;
  top: 1220px;
  left: calc(50% - 960px);
  width: 1910px;
  height: 1383px;
  object-fit: cover;
}
.pngegg-9-3,
.pngegg-9-4 {
  position: absolute;
  top: 4640px;
  left: 55px;
  width: 140px;
  height: 268px;
  object-fit: contain;
}
.pngegg-9-4 {
  left: 1725px;
}
.pixelcut-export-9-3 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 601px;
  object-fit: cover;
}
.read-more {
  position: absolute;
  top: 251px;
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 500;
}
.lorem-ipsum-dolor {
  margin-block-start: 0;
  margin-block-end: 14px;
}
.ae-magna-aliqua {
  margin: 0;
}
.lorem-ipsum-dolor-container {
  position: absolute;
  top: calc(50% - 87.5px);
  left: calc(50% - 152.5px);
  font-size: var(--font-size-lg);
}
.about-us,
.group-child {
  position: absolute;
  left: 0;
}
.group-child {
  top: 315px;
  width: 230px;
  height: 22px;
  object-fit: cover;
}
.about-us {
  top: 0;
  font-size: var(--font-size-7xl);
  letter-spacing: 0.02em;
  font-weight: 800;
}
.read-more-parent {
  left: 0;
  width: 305px;
  height: 337px;
  font-size: var(--font-size-xl);
}
.contact-us,
.div,
.read-more-parent {
  position: absolute;
  top: 0;
}
.contact-us {
  left: 0;
  letter-spacing: 0.02em;
  font-weight: 800;
}
.div {
  left: 44px;
}
.ioncall-icon,
.parent {
  position: absolute;
  height: 24px;
}
.ioncall-icon {
  top: calc(50% - 12px);
  left: calc(50% - 151px);
  width: 24px;
  overflow: hidden;
}
.parent {
  top: 150px;
  left: 0;
  width: 302px;
}
.material-symbols-lightmail-icon {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 134.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
}
.balajitrscgmailcom-btsbal-parent {
  position: absolute;
  top: 194px;
  left: 0;
  width: 269px;
  height: 44px;
}
.vector-icon,
.vector-icon1 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 16px;
  height: 20px;
}
.vector-icon1 {
  height: 25%;
  width: 25%;
  top: 28.33%;
  right: 37.5%;
  bottom: 46.67%;
  left: 37.5%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.b {
  position: absolute;
  top: 0;
  left: 79.17%;
}
.carbonlocation-filled {
  position: absolute;
  top: calc(50% - 22px);
  left: calc(50% - 153px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
}
.shivalik-shilp-iscon-cross-ro-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 306px;
  height: 44px;
  font-family: var(--font-inter);
}
.b1 {
  position: absolute;
  top: 0;
  left: 70.83%;
}
.carbonlocation-filled1 {
  position: absolute;
  top: calc(50% - 33px);
  left: calc(50% - 155.5px);
  width: 24px;
  height: 24px;
  overflow: hidden;
  font-size: var(--font-size-3xs);
}
.guruprasad-complext-nr-rmc-b-parent {
  position: absolute;
  top: 64px;
  left: 0;
  width: 311px;
  height: 66px;
  font-family: var(--font-inter);
}
.group-container {
  position: absolute;
  top: 81px;
  left: 0;
  width: 311px;
  height: 238px;
  font-size: var(--font-size-lg);
}
.contact-us-parent {
  position: absolute;
  top: 0;
  left: 1109px;
  width: 311px;
  height: 319px;
}
.contact {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 24px);
}
.vector-icon4 {
  position: absolute;
  height: 45.45%;
  width: 6.41%;
  top: 27.27%;
  right: 93.59%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.contact-parent {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 57.5px);
  width: 78px;
  height: 22px;
}
.shipping {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 28.5px);
}
.vector-icon5 {
  position: absolute;
  height: 45.45%;
  width: 5.75%;
  top: 27.27%;
  right: 94.25%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.shipping-parent {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 57.5px);
  width: 87px;
  height: 22px;
}
.sitemap {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 26px);
}
.vector-icon6 {
  position: absolute;
  height: 45.45%;
  width: 6.1%;
  top: 27.27%;
  right: 93.9%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.faqs,
.sitemap-parent {
  position: absolute;
  top: calc(50% - 11px);
}
.sitemap-parent {
  left: calc(50% - 57.5px);
  width: 82px;
  height: 22px;
}
.faqs {
  left: calc(50% - 12px);
}
.vector-icon7 {
  position: absolute;
  height: 45.45%;
  width: 9.26%;
  top: 27.27%;
  right: 90.74%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.faqs-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 57.5px);
  width: 54px;
  height: 22px;
}
.legal-notice {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 42.5px);
}
.vector-icon8 {
  position: absolute;
  height: 45.45%;
  width: 4.35%;
  top: 27.27%;
  right: 95.65%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-div,
.legal-notice-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 57.5px);
  width: 115px;
  height: 22px;
}
.group-div {
  top: calc(50% - 74.5px);
  left: calc(50% - 71px);
  height: 230px;
  font-size: var(--font-size-lg);
}
.quick-links-parent {
  position: absolute;
  top: 0;
  left: 374px;
  width: 142px;
  height: 311px;
}
.about-us1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 29.5px);
}
.vector-icon9 {
  position: absolute;
  height: 45.45%;
  width: 5.62%;
  top: 27.27%;
  right: 94.38%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.about-us-parent {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 96.5px);
  width: 89px;
  height: 22px;
}
.delivery-information {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 76.5px);
}
.vector-icon10 {
  position: absolute;
  height: 45.45%;
  width: 2.73%;
  top: 27.27%;
  right: 97.27%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.delivery-information-parent {
  position: absolute;
  top: calc(50% - 63px);
  left: calc(50% - 96.5px);
  width: 183px;
  height: 22px;
}
.privacy-policy {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 48px);
}
.vector-icon11 {
  position: absolute;
  height: 45.45%;
  width: 3.97%;
  top: 27.27%;
  right: 96.03%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.privacy-policy-parent {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 96.5px);
  width: 126px;
  height: 22px;
}
.terms-and-conditions {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 81.5px);
}
.vector-icon12 {
  position: absolute;
  height: 45.45%;
  width: 2.59%;
  top: 27.27%;
  right: 97.41%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.terms-and-conditions-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 96.5px);
  width: 193px;
  height: 22px;
}
.search {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 20px);
}
.vector-icon13 {
  position: absolute;
  height: 45.45%;
  width: 7.14%;
  top: 27.27%;
  right: 92.86%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.group-parent1,
.search-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 96.5px);
  width: 70px;
  height: 22px;
}
.group-parent1 {
  top: calc(50% - 74.5px);
  width: 193px;
  height: 230px;
  font-size: var(--font-size-lg);
}
.our-services-parent {
  position: absolute;
  top: 0;
  left: 585px;
  width: 193px;
  height: 311px;
}
.policy-for-buyers {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 62px);
}
.vector-icon14 {
  position: absolute;
  height: 45.45%;
  width: 3.25%;
  top: 27.27%;
  right: 96.75%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.policy-for-buyers-parent,
.policy-for-sellers-parent,
.terms-and-conditions-group {
  position: absolute;
  top: calc(50% - 115px);
  left: calc(50% - 96.5px);
  width: 154px;
  height: 22px;
}
.policy-for-sellers-parent,
.terms-and-conditions-group {
  top: calc(50% - 63px);
}
.terms-and-conditions-group {
  top: calc(50% - 11px);
  width: 193px;
}
.shipping-refund {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 69px);
}
.vector-icon17 {
  position: absolute;
  height: 45.45%;
  width: 2.98%;
  top: 27.27%;
  right: 97.02%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.shipping-refund-parent {
  position: absolute;
  top: calc(50% + 41px);
  left: calc(50% - 96.5px);
  width: 168px;
  height: 22px;
}
.wholesale-policy {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 61px);
}
.vector-icon18 {
  position: absolute;
  height: 45.45%;
  width: 3.29%;
  top: 27.27%;
  right: 96.71%;
  bottom: 27.27%;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: contain;
}
.wholesale-policy-parent {
  position: absolute;
  top: calc(50% + 93px);
  left: calc(50% - 96.5px);
  width: 152px;
  height: 22px;
}
/* .group-parent, */
.information-parent {
  position: absolute;
  top: 0;
  left: 847px;
  width: 193px;
  height: 311px;
}
/* .group-parent {
  top: 60px;
  left: 250px;
  width: 1420px;
  height: 337px;
} */
.frame-icon,
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38px;
  height: 24px;
  overflow: hidden;
}
.frame-icon1,
.frame-icon2,
.frame-icon3 {
  left: 58px;
}
.frame-icon2,
.frame-icon3 {
  left: 116px;
}
.frame-icon3 {
  left: 174px;
}
.frame-icon4 {
  left: 232px;
  width: 38px;
  overflow: hidden;
}
.frame-icon4,
.frame-icon5,
.frame-parent {
  position: absolute;
  top: 0;
  height: 24px;
}
.frame-icon5 {
  left: 290px;
  width: 38px;
  overflow: hidden;
}
.frame-parent {
  left: 1092px;
  width: 328px;
}
.balaji-trade-source,
.home-page,
.privacy-policy1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% - 710px);
}
.home-page,
.privacy-policy1 {
  left: calc(50% - 176.5px);
}
.privacy-policy1 {
  left: calc(50% - 37.5px);
}
.div1,
.div2,
.home-page-parent,
.search1 {
  position: absolute;
  top: calc(50% - 11px);
  left: calc(50% + 121.5px);
}
.div1,
.div2,
.home-page-parent {
  left: calc(50% + 93.5px);
}
.div2,
.home-page-parent {
  left: calc(50% - 65.5px);
}
.home-page-parent {
  left: calc(50% - 96px);
  width: 353px;
  height: 22px;
}
.group-parent3 {
  position: absolute;
  top: 517px;
  left: 250px;
  width: 1420px;
  height: 24px;
  font-size: var(--font-size-lg);
}
.group-item {
  position: absolute;
  top: 456.5px;
  left: 249.5px;
  border-top: 1px solid transparent;
  box-sizing: border-box;
  width: 1421px;
  height: 1px;
}
.pixelcut-export-9-3-parent {
  position: absolute;
  top: 306rem;
  /* left: 0; */
  width: 100%;
  height: 601px;
  font-size: var(--font-size-7xl);
  color: var(--color-white);
}
.group-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-white);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: 1420px;
  height: 170px;
}
.fluentmail-read-20-filled-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
.get-our-latest {
  position: absolute;
  top: 0;
  left: 0;
  letter-spacing: 1px;
  font-weight: 500;
}
.get-timely-updates {
  position: absolute;
  top: 41px;
  left: 0;
  font-size: var(--font-size-xl);
  opacity: 0.7;
}
.get-our-latest-news-and-update-parent {
  position: absolute;
  top: 2px;
  left: 100px;
  width: 492px;
  height: 65px;
}
.fluentmail-read-20-filled-parent,
.rectangle-div {
  position: absolute;
  top: 50px;
  left: 40px;
  width: 592px;
  height: 70px;
}
.rectangle-div {
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: var(--color-whitesmoke-100);
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
  width: 670px;
  height: 60px;
}
.enter-your-mail {
  position: absolute;
  top: 19px;
  left: 20px;
  opacity: 0.7;
}
.group-child1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #d34031;
  width: 80px;
  height: 60px;
}
.fluentmail-20-filled-icon {
  position: absolute;
  top: 15px;
  left: 25px;
  width: 30px;
  height: 30px;
  overflow: hidden;
}
.rectangle-container,
.rectangle-group {
  position: absolute;
  top: 0;
  left: 590px;
  width: 80px;
  height: 60px;
}
.rectangle-group {
  top: 55px;
  left: 710px;
  width: 670px;
  font-size: var(--font-size-lg);
}
.rectangle-parent {
  position: absolute;
  top: 4640px;
  left: 250px;
  width: 1420px;
  height: 170px;
  font-size: var(--font-size-7xl);
}
.pngegg-17-1 {
  position: absolute;
  top: 779px;
  left: -89px;
  width: 371.9px;
  height: 310.3px;
  object-fit: contain;
}
.group-child2 {
  position: absolute;
  top: 0;
  left: calc(50% - 960px);
  width: 1920px;
  height: 651px;
  overflow: hidden;
  object-fit: cover;
}
.home {
  left: 0;
  opacity: 0.7;
}
.about-us2,
.div3,
.home {
  position: absolute;
  top: 0;
}
.div3 {
  left: 68px;
  opacity: 0.7;
}
.about-us2 {
  left: 98px;
  text-align: left;
}
.home-parent {
  position: absolute;
  top: 80px;
  left: 28px;
  width: 172px;
  height: 22px;
}
.about-us3 {
  position: absolute;
  top: 0;
  left: calc(50% - 113.5px);
  font-size: 48px;
  font-weight: 600;
}
.group-parent4 {
  position: absolute;
  top: 449px;
  left: 847px;
  width: 227px;
  height: 102px;
}
.frame-group {
  position: absolute;
  top: 192px;
  left: calc(50% - 960px);
  width: 100%;
  height: 651px;
  text-align: center;
  font-size: var(--font-size-lg);
}
.we-are-glad {
  margin-block-start: 0;
  margin-block-end: 6px;
}
.we-are-glad-container,
.we-are-the-container,
.we-ensure-maximum-container {
  position: absolute;
  top: 943px;
  left: 420px;
  color: var(--color-dimgray);
}
.we-are-the-container,
.we-ensure-maximum-container {
  top: 1087px;
}
.we-are-the-container {
  top: 1171px;
}
.img-09-16f41331-b9c0-49f6-aa2d-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 517px;
  height: 647px;
  object-fit: cover;
}
.line-icon,
.the-factors-which {
  position: absolute;
  top: 0;
  left: 60px;
}
.line-icon {
  top: 12px;
  left: 0;
  max-height: 100%;
  width: 30px;
}
.the-factors-which-make-us-spec-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 24px;
}
.quality-oriented-business-hous-parent {
  position: absolute;
  top: 54px;
  left: 0;
  width: 741px;
  height: 54px;
}
.we-provide-private-label-packa-parent {
  position: absolute;
  top: 138px;
  left: 0;
  width: 792px;
  height: 84px;
}
.we-are-able-to-meet-the-specif-parent {
  position: absolute;
  top: 252px;
  left: 0;
  width: 778px;
  height: 54px;
}
.we-are-accepting-minimum-order-parent {
  position: absolute;
  top: 336px;
  left: 0;
  width: 777px;
  height: 84px;
}
.group-parent5,
.we-are-backed-up-by-a-physical-parent {
  position: absolute;
  top: 450px;
  left: 0;
  width: 777px;
  height: 54px;
}
.group-parent5 {
  top: 72px;
  left: 567px;
  width: 792px;
  height: 504px;
}
.img-09-16f41331-b9c0-49f6-aa2d-parent {
  position: absolute;
  top: 1477px;
  left: 280px;
  width: 1359px;
  height: 647px;
  color: var(--color-dimgray);
}
.team-work {
  position: absolute;
  top: 0;
  left: calc(50% - 117px);
  letter-spacing: 2px;
  font-weight: 500;
}
.group-child8,
.group-child9 {
  position: absolute;
  top: 22px;
  left: 184px;
  max-height: 100%;
  width: 120px;
}
.group-child9 {
  left: 0;
}
.group-icon,
.vector-parent {
  position: absolute;
  top: 0;
  left: 130px;
  width: 44px;
  height: 44px;
}
.vector-parent {
  top: 58px;
  left: 0;
  width: 304px;
}
.team-work-parent {
  position: absolute;
  top: 2224px;
  left: calc(50% - 152px);
  width: 304px;
  height: 102px;
  font-size: var(--font-size-21xl);
}
.expertise {
  position: absolute;
  top: 0;
  left: calc(50% - 102px);
  letter-spacing: 2px;
  font-weight: 500;
}
.expertise-parent {
  position: absolute;
  top: 3890px;
  left: calc(50% - 152px);
  width: 304px;
  height: 102px;
  font-size: var(--font-size-21xl);
}
.customer-focus {
  position: absolute;
  top: 0;
  left: calc(50% - 205px);
  letter-spacing: 1px;
  font-weight: 500;
}
.vector-container {
  position: absolute;
  top: 58px;
  left: 22px;
  width: 304px;
  height: 44px;
}
.customer-focus-parent {
  position: absolute;
  top: 3350px;
  left: calc(50% - 174px);
  width: 385px;
  height: 102px;
  font-size: var(--font-size-21xl);
}
.our-strength {
  position: absolute;
  top: 0;
  left: calc(50% - 205px);
  letter-spacing: 2px;
  font-weight: 500;
}
.our-strength-parent {
  position: absolute;
  top: 1325px;
  left: calc(50% - 152px);
  width: 396px;
  height: 102px;
  font-size: var(--font-size-21xl);
}
.our-professionals-are-container {
  position: absolute;
  top: 2426px;
  left: 440px;
  color: var(--color-dimgray);
}
.meet-our-dedicated {
  position: absolute;
  top: 2560px;
  left: calc(50% - 246px);
  font-size: 36px;
  letter-spacing: 2px;
}
.frame-child,
.group-child19 {
  position: absolute;
  top: 2646px;
  left: 1234px;
  background-color: var(--color-whitesmoke-100);
  width: 436px;
  height: 600px;
}
.group-child19 {
  top: 0;
  left: 0;
}
.woman-suit-with-her-arms-cross-icon {
  position: absolute;
  top: 57px;
  left: calc(50% - 190px);
  width: 381px;
  height: 543px;
  object-fit: cover;
}
.group-child20,
.rectangle-parent1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 436px;
  height: 600px;
}
.group-child20 {
  top: 90px;
  left: 25px;
  width: 148px;
  height: 22px;
  object-fit: cover;
}
.senior-ui-ux {
  position: absolute;
  top: 46px;
  left: 0;
  opacity: 0.7;
}
.jenny-wilson {
  position: absolute;
  top: 0;
  left: 27px;
  font-size: var(--font-size-3xl);
  font-weight: 500;
}
/* .group-parent6, */
.group-parent7 {
  position: absolute;
  top: 630px;
  left: 119px;
  width: 198px;
  height: 112px;
}
.group-parent6 {
  /* top: 2653px;
  left: 250px;
  width: 436px;
  height: 742px; */
}
.group-child21 {
  position: absolute;
  top: 0;
  left: calc(50% - 218px);
  background-color: var(--color-whitesmoke-100);
  width: 436px;
  height: 600px;
}
.icon {
  object-fit: cover;
}
.icon,
.rectangle-parent2 {
  position: absolute;
  top: 0;
  left: calc(50% - 218px);
  width: 436px;
  height: 602px;
}
.group-child22 {
  position: absolute;
  top: 90px;
  left: 32px;
  width: 148px;
  height: 22px;
  object-fit: cover;
}
.jacob-jones {
  position: absolute;
  top: 0;
  left: 42px;
  font-weight: 500;
}
.full-stack-developer {
  position: absolute;
  top: 46px;
  left: 0;
  font-size: var(--font-size-xl);
  color: var(--color-dimgray);
}
.group-parent9 {
  position: absolute;
  top: 632px;
  left: 113px;
  width: 211px;
  height: 112px;
}
.group-parent8 {
  /* position: absolute;
  top: 2653px;
  left: calc(50% - 218px);
  width: 436px;
  height: 744px;
  font-size: var(--font-size-3xl); */
}
.group-child24,
.smiling-young-businesswoman-fe-icon {
  position: absolute;
  top: 57px;
  left: 30px;
  width: 376px;
  height: 543px;
  object-fit: cover;
}
.group-child24 {
  top: 90px;
  left: 44px;
  width: 148px;
  height: 22px;
}
.dianne-russell {
  position: absolute;
  top: 0;
  left: 35px;
  font-weight: 500;
}
/* .group-parent10, */
.group-parent11 {
  position: absolute;
  top: 630px;
  left: 100px;
  width: 236px;
  height: 112px;
}
.group-parent10 {
  /* top: 2653px;
  left: 1234px;
  width: 436px;
  height: 742px;
  font-size: var(--font-size-3xl); */
}
.we-have-close {
  position: absolute;
  top: 3500px;
  left: 435px;
  color: var(--color-dimgray);
}
.partner-logo-1jpg-icon,
.partner-logo-1jpg-icon1,
.partner-logo-2jpg-icon,
.partner-logo-3jpg-icon {
  position: absolute;
  top: calc(50% - 75.5px);
  left: calc(50% + 90px);
  width: 151px;
  height: 151px;
  overflow: hidden;
  object-fit: cover;
}
.partner-logo-1jpg-icon,
.partner-logo-1jpg-icon1,
.partner-logo-3jpg-icon {
  left: calc(50% - 903px);
}
.partner-logo-1jpg-icon,
.partner-logo-1jpg-icon1 {
  left: calc(50% - 572px);
}
.partner-logo-1jpg-icon1 {
  left: calc(50% + 752px);
}
.partner-logo-2jpg-icon1,
.partner-logo-3jpg-icon1,
.partner-logo-3jpg-icon2,
.partner-logo-4jpg-icon {
  position: absolute;
  top: calc(50% - 75.5px);
  left: calc(50% - 241px);
  width: 151px;
  height: 151px;
  overflow: hidden;
  object-fit: cover;
}
.partner-logo-2jpg-icon1,
.partner-logo-3jpg-icon1,
.partner-logo-3jpg-icon2 {
  left: calc(50% + 421px);
}
.partner-logo-2jpg-icon1,
.partner-logo-3jpg-icon2 {
  left: calc(50% + 2076px);
}
.partner-logo-3jpg-icon2 {
  left: calc(50% + 1083px);
}
.partner-logo-1jpg-icon2 {
  position: absolute;
  left: calc(50% + 1414px);
  height: 151px;
  overflow: hidden;
}
.partner-logo-1jpg-icon2,
.partner-logo-1jpg-icon3,
.partner-logo-4jpg-icon1 {
  top: calc(50% - 75.5px);
  width: 151px;
  object-fit: cover;
}
.partner-logo-1jpg-icon3 {
  position: absolute;
  left: calc(50% + 2738px);
  height: 151px;
  overflow: hidden;
}
.partner-logo-4jpg-icon1 {
  left: calc(50% + 1745px);
}
.component-130,
.partner-logo-3jpg-icon3,
.partner-logo-4jpg-icon1 {
  position: absolute;
  height: 151px;
  overflow: hidden;
}
.partner-logo-3jpg-icon3 {
  top: calc(50% - 75.5px);
  left: calc(50% + 2407px);
  width: 151px;
  object-fit: cover;
}
.component-130 {
  /* border: 1px solid red; */
  top: 3600px;
  left: calc(50% - 903px);
  width: 1806px;
}

.group-parent13 {
  position: absolute;
  top: 0;
  left: 758px;
  width: 283px;
  height: 52px;
}
.group-parent14 {
  position: absolute;
  top: 0;
  left: 60px;
  width: 198px;
  height: 52px;
}
.group-parent14 {
  left: 376px;
  width: 258px;
}
.group-parent15 {
  position: absolute;
  top: 0;
  left: 60px;
  width: 192px;
  height: 52px;
}
.group-parent15 {
  left: 0;
  width: 252px;
}
/* .easy-online-support-parent, */
.group-parent16 {
  position: absolute;
  top: 0;
  left: 60px;
  width: 195px;
  height: 52px;
}
.group-parent16 {
  left: 1165px;
  width: 255px;
}
.group-child25,
.group-child26,
.line-div {
  position: absolute;
  top: -0.5px;
  left: 313.5px;
  border-right: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1px;
  height: 53px;
  opacity: 0.2;
}
.group-child25,
.group-child26 {
  left: 695.5px;
}
.group-child26 {
  left: 1102.5px;
}
.group-parent12 {
  position: absolute;
  left: 11rem;
  top: 3rem;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  color: white;
  margin: auto;
  z-index: 1;
  width: 80%;
  /* border: 1px solid red; */
  gap: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px solid gray;
}
.aboutus,
.quickLinks {
  /* line-height: 5rem; */
}
.about-title,
.quick-title,
.our-title,
.info-title,
.contact-title {
  font-size: 26px;
  margin-bottom: 50px;
}
.allLinks {
  display: flex;
  flex-direction: column;
  line-height: 50px;
  font-size: 18px;
}
.address1,
.address2,
.call,
.mail {
  margin-bottom: 20px;
}
.allLinks a {
  text-decoration: none;
  color: white;
}
.about-content {
  font-size: 18px;
  line-height: 38px;
  margin-bottom: 40px;
}
.social-link {
  width: 100%;
  margin-top: 40px;
}
.address1,
.address2,
.call,
.mail {
  font-size: 18px;
}
.copyright {
  position: absolute;
  top: 34rem;
  left: 11rem;
  /* border: 1px solid red; */
  z-index: 1;
  display: flex;
  justify-content: space-between;
  width: 80%;
  font-size: 18px;
  align-items: center;
}
.transparent-spices-spices-herb-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 400px;
  height: 490px;
  object-fit: cover;
}
.we-develop-and-container {
  position: absolute;
  top: 128px;
  left: 0;
}
.our-expertise {
  position: absolute;
  top: 0;
  left: calc(50% - 457px);
  font-size: 80px;
  letter-spacing: 20px;
  font-weight: 900;
  color: var(--color-gray-100);
  opacity: 0.1;
}
.we-develop-and-express-our-exp-parent {
  position: absolute;
  top: 79px;
  left: 450px;
  width: 914px;
  height: 332px;
}
.transparent-spices-spices-herb-parent {
  position: absolute;
  top: 3910px;
  left: 300px;
  width: 1364px;
  height: 490px;
  color: var(--color-dimgray);
}
.pngegg-13-1,
.pngegg-18-1 {
  position: absolute;
  top: 843px;
  left: 108rem;
  width: 174px;
  height: 262px;
  object-fit: contain;
}
.pngegg-13-1 {
  top: 2134px;
  left: 94rem;
  width: 397px;
  height: 138px;
  object-fit: cover;
}
.home1 {
  /* left: 0;
  cursor: pointer; */
}
.about-us4,
.blog,
.brands,
.home1,
.products1 {
  /* position: absolute;
  top: 0;
  font-weight: 500;
  text-decoration: none;
  color: black; */
}
.about-us4 {
  left: 114px;
  color: var(--color-red);
}
.blog,
.brands,
.products1 {
  left: 265px;
}
.blog,
.products1 {
  left: 399px;
  cursor: pointer;
}
.blog {
  left: 556px;
}
.home-group {
  /* position: absolute;
  top: 53px;
  left: 749px;
  width: 605px;
  height: 24px; */
}

.group-child27 {
  /* position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-red);
  width: 216px;
  height: 64px; */
}
.trade-inquiry {
  /* position: absolute;
  top: 20px;
  left: 36px;
  letter-spacing: 0.02em;
  font-weight: 500;
  text-decoration: none;
  color: #fff; */
}
.rectangle-parent4 {
  /* position: absolute;
  top: 33px;
  left: 1454px;
  width: 216px;
  height: 64px;
  cursor: pointer;
  color: var(--color-white); */
}
/* .frame-div {
  position: absolute;
  top: 62px;
  left: calc(50% - 960px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  background-color: var(--color-white);
  width: 100%;
  height: 130px;
  overflow: hidden;
  padding: 30px;
} */
.group-child28,
.stay-connected {
  position: absolute;
  top: 2px;
  left: 0;
}
.group-child28 {
  top: 0;
  left: 136px;
  width: 230px;
  height: 22px;
  object-fit: cover;
}
.call-up-1-icon,
.stay-connected-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 366px;
  height: 22px;
}
.call-up-1-icon {
  width: 22px;
  object-fit: cover;
}
.div4 {
  position: absolute;
  top: 2px;
  left: 42px;
}
.call-up-1-parent {
  position: absolute;
  top: 0;
  left: 688px;
  width: 300px;
  height: 22px;
}
.balajitrscgmailcom-btsbal-group,
.group-parent17 {
  position: absolute;
  top: 0;
  left: 1009px;
  width: 411px;
  height: 22px;
}
.group-parent17 {
  top: 20px;
  left: 250px;
  width: 1420px;
}
.group-wrapper {
  /* border: 1px solid red; */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f7f7f7;
  width: 100%;
  height: 62px;
  overflow: hidden;
  font-size: var(--font-size-base);
}
.social-whatsapp-circle-512-1-icon {
  position: fixed;
  top: 790px;
  left: 1790px;
  width: 80px;
  height: 80px;
  object-fit: cover;
  z-index: 1000;
}
.pixelcut-export-4-1-parent {
}

/* Navbar */

.frame-div {
  /* border: 1px solid red; */
  position: absolute;
  display: flex;
  top: 4rem;
  justify-content: space-between;
  width: -webkit-fill-available;
  padding: 2rem;
  background: white;
  height: 70px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
}

.home-group {
  width: 605px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
}
.home-group a {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.group-1321315030-2 {
  width: fit-content;
}
.group-1321315030-2 img {
  width: 60%;
  object-fit: cover;
}

.about-parent {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 20px; /* Adjust gap as needed */
}

.dropdown {
  display: none;
  position: relative;
}

.dropbtn {
  cursor: pointer;
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  right: 0; /* Align to the right side */
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-size: 16px;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Trade Inquiry Button */
.rectangle-parent28 {
  text-decoration: none;
  /* background-color: #d34031; */
  /* padding: 1rem; */
}

.trade-inquiry {
  color: white;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
  width: 180px;
  cursor: pointer;
  text-decoration: none;
  background: var(--color-red);
  padding: 20px;
}

.meet-team {
  position: absolute;
  top: 165rem;
  left: 10rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /* border: 1px solid red; */
  gap: 2rem;
  width: 80%;
}
.meet-parent {
  width: 80%;
}
.team-1 {
  width: 60%;
}
.team-1-img {
  width: 100%;
  object-fit: cover;
}

.group-parent6,
.group-parent8,
.group-parent10 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
  /* border: 1px solid red; */
}

.team-info {
  text-align: center;
  line-height: 35px;
}
.team-info .name {
  font-weight: 500;
  font-size: 22px;
}
.team-social {
  width: 40%;
}
.carousel-image {
  width: 50%;
  object-fit: contain;
}
.group-parent {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  position: absolute;
  top: 280rem;
  left: 15rem;
  width: 80%;
  font-size: var(--font-size-xl);
  font-family: var(--font-roboto);
}
.group-parent101,
.group-parent102,
.group-parent103,
.group-parent104 {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.guarantee-with-in {
  font-size: 16px;
  line-height: 30px;
  color: rgb(158, 156, 156);
}

@media screen and (max-width: 1600px) {
  .dropbtn {
    display: none;
  }
  .pngegg-18-1 {
    left: 81rem;
  }
  .pixelcut-export-4-1 {
    display: none;
  }
  .pngegg-9-3,
  .pngegg-9-4 {
    display: none;
  }
  .group-parent17 {
    left: 60px;
  }
  .img-09-16f41331-b9c0-49f6-aa2d-parent {
    left: 95px;
  }
  .component-130 {
    left: 2rem;
    width: 88rem;
    top: 216rem;
  }
  .we-have-close {
    top: 210rem;
    left: 14rem;
  }
  .expertise-parent {
    top: 235rem;
  }
  .transparent-spices-spices-herb-parent {
    left: 5rem;
    top: 240rem;
  }
  .group-parent {
    top: 275rem;
  }
  .rectangle-parent {
    left: 2rem;
    top: 285rem;
  }
  .call-up-1-parent {
    left: 630px;
  }
  .balajitrscgmailcom-btsbal-group {
    left: 60rem;
  }
  .pixelcut-export-9-3-parent {
    top: 325rem;
  }
  .group-parent12 {
    left: 160px;
    top: -25rem;
    grid-template-columns: repeat(3, 1fr);
  }
  .pixelcut-export-9-3 {
    width: 91.7rem;
    height: 65rem;
  }
  .copyright {
    top: 33rem;
  }
  .social-whatsapp-circle-512-1-icon {
    top: 45rem;
    left: 85rem;
  }
  .customer-focus-parent {
    top: 3200px;
  }
}
